*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(236, 239, 240);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 50px;
}

header, .add-buttons, #add-section, .list{
  background-color: white;
}

/* header */

header{
  height: 90px;
  position: relative;
}

header img{
  width: 60px;
  margin: 15px;
}

h1{
  font-size: 50px;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

/* main */

.add-buttons{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-bottom: 2px;
}

main section .add-buttons input{
  padding: 7px 10px;
  border-radius: 7px;
  margin: 20px 0 10px;
}

#add-task{
  border: 1px solid rgb(70, 173, 242);
  background-color: rgb(70, 173, 242);
  color: white;
  margin-left: 70px;
}

#add-section{
  border: 1px solid rgb(206, 210, 214);
  color: rgb(206, 210, 214);
}

.list{
  
}

main section .list ul{
  list-style: none;
  font-size: 24px;
  font-weight: bold;
}